body {
    background-color: #213448;
}

h1 {
    text-transform: uppercase;
    size: 3rem;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 35px;
    margin-bottom: 80px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivation-img {
    border: 5px solid whitesmoke;
    width: 100%;
}

.cover {
    text-align: center;
    color: whitesmoke;
    text-transform: none;
    margin-top: 20%;
    font-family: "Libre Baskerville", serif;
}

.btn {
    background-color: #FFA239;
    color: whitesmoke;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 50px;
    font-size: medium;
}

.btn-pro {
    background-color: #FFA239;
    color: whitesmoke;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 50px;
    margin-bottom: 10%;
    font-size: large;
}

.btn-pro:hover {
    background-color: #850E35;
}

.btn:hover {
    background-color: #850E35;
}

.prolog {
    color: whitesmoke;
    font-family: "Libre Baskerville", serif;
    margin-top: 5%;
}

.p-prolog {
    font-family: "caveat";
    color: whitesmoke;
    font-size: 2rem;
}